{% extends "base.html" %} {% block head %} {% load static %} 
<link rel="stylesheet" href="{% static "chat/css/style.css" %}" />
<script defer src="{% static "chat/js/script.js" %}"></script>
{% endblock head %}
{% block content %}
<!-- Always shows a header, even in smaller screens. -->
<div class="page-content">
  <!-- Accent-colored raised button with ripple -->
  <!-- Floating Multiline Textfield -->
  <div class="chatlist-wrapper">
    <ul id="chatlist" class="chatlist">
      {% for message in messages %}
      <li>
        <span>{{ message.created_at|date:"d.m.y" }} </span>
        <span>{{ message.author.username }}: </span>
        <span>{{ message.text }}</span>
      </li>
      {% endfor %}
    </ul>
    <div id="chatlist-anchor"></div>
  </div>
  <form method="post" id="message-form">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield w-100">
      <textarea
        class="mdl-textfield__input w-100"
        type="text"
        rows="3"
        id="message"
        name="message"
      ></textarea>
      <label class="mdl-textfield__label" for="sample5">Type a message...</label>
    </div>
    <button
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    >
      Send
    </button>
  </form>
</div>
{% endblock content %}
