{% extends "base.html" %} {% block content %}
<!-- Always shows a header, even in smaller screens. -->
<div class="page-content">
  <!-- Accent-colored raised button with ripple -->
  <!-- Floating Multiline Textfield -->
  <form method="post" id="message-form">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield">
      <textarea
        class="mdl-textfield__input"
        type="text"
        rows="3"
        id="message"
        name="message"
      ></textarea>
      <label class="mdl-textfield__label" for="sample5"
        >Text lines...</label
      >
    </div>
    <button
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    >
      Send
    </button>
  </form>
  <ul id="chatlist">
    {% for message in messages %}
    <li>{{ message.author }}: {{ message.text }}</li>
    {% endfor %}
  </ul>
</div>
<script defer>
  const chatlist = document.querySelector('#chatlist');
  document
    .getElementById('message-form')
    .addEventListener('submit', sendMessage);

  function sendMessage(ev) {
    ev.preventDefault();
    messageEl = document.getElementById('message');
    if (messageEl.value) {
      let fd = new FormData();
      fd.append('message', messageEl.value);
      fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      fetch('/chat/', {
        method: 'post',
        body: fd,
      })
        .then((res) => {
          if (res.status === 200) {
            addMessage();
          }
        })
        .catch((err) => console.error(err));
    }
  }

  function addMessage() {
    const date = new Date()
    const message = document.createElement('li');
    message.textContent = {{request.user.first_name}}` ${date.toLocaleDateString()}: ${messageEl.value}`;
    chatlist.appendChild(message);
    messageEl.value = '';
  }
</script>
{% endblock %}
