{% extends "base.html" %} {% block content %}
<form action="register" method="post">
  {% csrf_token %}
  <h2>Sign up</h2>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="username" type="text" id="username" required>
    <label class="mdl-textfield__label" for="username">Username</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="password" type="password" id="password" required>
    <label class="mdl-textfield__label" for="password">Password</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="password2" type="password" id="password2" required>
    <label class="mdl-textfield__label" for="password2">Repeat password</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="email" type="text" id="email" required>
    <label class="mdl-textfield__label" for="email">Email</label>
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Create</button>
</form>
{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}
{% endblock  %}
